@property --vertical-segment-height {
    syntax: "<length>";
    inherits: false;
    initial-value: calc(5px + 3vw);
}

@property --vertical-segment-width {
    syntax: "<length>";
    inherits: false;
    initial-value: calc(1px + 1vw);
}

@property --horizontal-segment-height {
    syntax: "<length>";
    inherits: false;
    initial-value: calc(1px + 1vw);
}

@property --horizontal-segment-width {
    syntax: "<length>";
    inherits: false;
    initial-value: calc(5px + 3vw);
}

@property --button-diameter {
    syntax: "<length>";
    inherits: false;
    initial-value: calc(2px + 2vw);
}

html {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#player-body {
    display: flex;
    flex-direction: column;
}

#controls {
    display: flex;
}

#seven-segment {
    display: flex;
}

#cd-tray {
    width: 100%;
    outline: 1px solid blue;
}

#volume-knob {
    opacity: 0;
}

#button-array {
    display: grid;
    width: var(--button-diameter);
    align-items: center;
}

#button-array > button {
    border-radius: 100%;
    height: var(--button-diameter);
}

.digit {
    height: calc(2 * var(--vertical-segment-height) + 3 * var(--horizontal-segment-height));
    width: calc(2 * var(--vertical-segment-width) + var(--horizontal-segment-width));
    background-color: black;
    padding: calc(1px + 0.5vw);
}

.segment {
    display: block;
    position: relative;
    background-color: rgba(255, 0, 0, 40%);
}

.segment.vertical {
    width: var(--vertical-segment-width);
    height: var(--vertical-segment-height);
}

.segment.horizontal {
    width: var(--horizontal-segment-width);
    height: var(--horizontal-segment-height);
}

.A, .G, .D {
    left: var(--vertical-segment-width);
}

.D, .C {
    top: var(--horizontal-segment-height);
}

.B, .C {
    left: calc(var(--horizontal-segment-width) + var(--vertical-segment-width));
}

.E {
    bottom: var(--vertical-segment-height);
}

.F, .G {
    bottom: calc(var(--vertical-segment-height) * 3 + var(--horizontal-segment-height));
}
.segment.lit {
    background-color: red;
}
